body {
    background: url(http://orig07.deviantart.net/daa0/f/2014/282/b/e/nintendo__princess_peach_wallpaper_by_mikedarko-d825kzj.png);
    background-position: right top;
    background-size: 100%;
}


header {
    background-color: white;
}


.btn {
  background: deeppink;
  background-image: -webkit-linear-gradient(top, deeppink, hotpink);
  background-image: -moz-linear-gradient(top, deeppink, hotpink);
  background-image: -ms-linear-gradient(top, deeppink, hotpink);
  background-image: -o-linear-gradient(top, deeppink, hotpink);
  background-image: linear-gradient(to bottom, deeppink, hotpink);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.75em;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: hotpink;
  background-image: -webkit-linear-gradient(top, hotpink, deeppink);
  background-image: -moz-linear-gradient(top, hotpink, deeppink);
  background-image: -ms-linear-gradient(top, hotpink, deeppink);
  background-image: -o-linear-gradient(top, hotpink, deeppink);
  background-image: linear-gradient(to bottom, hotpink, deeppink);
  text-decoration: none;
}

.greeting {
    font-family: sans-serif;
    background-color: white;
    color: deeppink;
    padding: 5px 5px 5px 25px;
    opacity: 0.75;
    font-size: 0.9em;
}

h1 {
    display: inline;
    font-size: 4em;
    background: -webkit-linear-gradient(white, deeppink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
}

img {
    height: 120px;
    width: 120px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size 5em;
    font-family: cursive;
    opacity: 0.85;
    background-color: white;
    color: deeppink;
}

th {
    background-color: deeppink;
    color: white;
}

td {
    border: 1px solid deeppink;
    padding: 10px;
}

.total {
    text-align: right;
}

footer {
    background-color: deeppink;
    color: white;
    text-align: center;
    width: 100%;
    line-height: 1.5em;
}

.footer_text {
    width: 30%;
    padding: 5px 10px 5px 10px;
    font-size: 0.85em;
}