
body {
    background: url(http://orig07.deviantart.net/daa0/f/2014/282/b/e/nintendo__princess_peach_wallpaper_by_mikedarko-d825kzj.png);
    background-position: right top;
    background-size: 100%;
}


/*
header {
    background-color: white;
}
*/

.greeting {
    font-family: sans-serif;
    background-color: white;
    color: deeppink;
    padding: 5px;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(white, deeppink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
}

table {
    font-size 5em;
    font-family: cursive;
    background-color: white;
    color: deeppink;
}

th {
    background-color: deeppink;
    color: white;
}

td {
    width: 150px;
    border: 2px solid deeppink;
    padding: 10px;
}

footer {
    background-color: deeppink;
    color: white;
    text-align: center;
    width: 100%;
}

.footer_text {
    width: 30%;
}


@media screen and (max-width: 400px) {
    body {
        background: url(http://orig07.deviantart.net/daa0/f/2014/282/b/e/nintendo__princess_peach_wallpaper_by_mikedarko-d825kzj.png);
        background-position: right top;
    }
    /*
header {
    background-color: white;
}
*/
    .greeting {
        font-family: sans-serif;
        background-color: white;
        color: deeppink;
        padding: 5px;
    }
    h1 {
        font-size: 72px;
        background: -webkit-linear-gradient(white, deeppink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: cursive;
    }
    table {
        font-size 5em;
        font-family: cursive;
        background-color: white;
        color: deeppink;
    }
    th {
        background-color: deeppink;
        color: white;
    }
    td {
        width: 150px;
        border: 2px solid deeppink;
        padding: 10px;
    }
    footer {
        background-color: deeppink;
        color: white;
        text-align: center;
        width: 100%;
    }
    .footer_text {
        width: 30%;
    }
}
