<!DOCTYPE html>
<html lang="en" ng-app="ModelApp">

<head>
    <meta charset="UTF-8">
    <title>ng-model</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container-fluid" ng-controller="ModelController">
    <div class="row">
        <div class="well col-xs-12">
            <h1>{{person.firstName}} {{person.lastName}} {{person.age}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <input type="text" placeholder="Type First Name here" ng-model="person.firstName">
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <input type="text" placeholder="Type Last Name here" ng-model="person.lastName">
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2">
            <input type="number" placeholder="0" ng-model="person.age">
        </div>
    </div>



    <script src="app.js"></script>
</body>

</html>