<div class="row page-content">
    <div class="col-xs-12">
        <h1> {{title}} </h1>

        <p>Colorado is a state in the United States encompassing most of the Southern Rocky Mountains as well as the northeastern portion of the Colorado Plateau and the western edge of the Great Plains. Colorado is part of the Western United States, the Southwestern United States, and the Mountain States. Colorado is the 8th most extensive and the 22nd most populous of the 50 United States. The United States Census Bureau estimates that the population of Colorado was <span id="population">5,456,574</span> on July 1, 2015, an increase of 8.50% since the 2010 United States Census.</p>

        <p>The state was named for the Colorado River, which Spanish travelers named the Río Colorado for the ruddy (Spanish: colorado) silt the river carried from the mountains. The Territory of Colorado was organized on February 28, 1861, and on August 1, 1876, U.S. President Ulysses S. Grant signed Proclamation 230 admitting Colorado to the Union as the 38th state. Colorado is nicknamed the "Centennial State" because it became a state in the same year as the centennial of the United States Declaration of Independence.</p>

        <p>Colorado is bordered by Wyoming to the north, Nebraska to the northeast, Kansas to the east, Oklahoma to the southeast, New Mexico to the south, Utah to the west, and Arizona to the southwest at the Four Corners. Colorado is noted for its vivid landscape of mountains, forests, high plains, mesas, canyons, plateaus, rivers, and desert lands.</p>

        <p>Denver is the capital and the most populous city of Colorado. Residents of the state are properly known as "Coloradans", although the term "Coloradoan" has been used archaically and lives on in the title of Fort Collins' newspaper, the Coloradoan.</p>
    </div>
</div>