body {
    background-color: #333333;
    margin: 0;
    margin-bottom: 75px;
    height: 100%;
}

header {
    position: fixed;
    left: 0px;
    background-color: cornflowerblue;
    color: white;
    font-family: Verdana, sans-serif;
    padding-left: 25px;
    font-size: 2em;
    height: 85px;
    width: 100%;
    vertical-align: middle;
    z-index: 4;
}

nav {
    position: fixed;
    top: 90px;
    left: 0px;
    bottom: 65px;
    padding-left: 75px;
    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: 1.15em;
    width: 145px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: cornflowerblue;
}

.left {
    position: fixed;
    left: 0px;
    padding: 10px;
    top: 100px;  
}

.photos {
    position: absolute;
    left: 165px;
    top: 90px;
    margin-bottom: 50px;
    height: 100%;
}

img {
    width: 300px;
    height: 300px;
    padding: 15px;
    object-fit: fill;

}

footer {
    position: fixed;
    display: block;
    bottom: 0;
    background-color: #555555;
    color: white;
    height: 50px;
    line-height: 15px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 0.75em;
    width: 100%;
    margin-top: 10px;
}

footer p {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}

