body {
    background-color: black;
    font-family: sans-serif;
}

header {
    color: black;
    background-color: firebrick;
    line-height: 450%;
    padding-left: 15px;
}

.people {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 15px;
}

img {
    padding: 5px;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    align-content: center;
    background-color: firebrick;
    cursor: crosshair;
}

.person-name {
    padding-left: 25px;
    width;
    100%;
    color: firebrick;
    text-align: left;
}
