.img-main {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    padding: 3px;
    background-color: darkgray;
}

p a {
    color: purple;
    text-decoration: underline;
}

footer {
    padding-top: 15px;
    background-image: url(../images/knitting250px.png);
}
